.Card {
    width: 700px;
    border: 2px solid rgb(184, 218, 255);
    background-color: rgb(204, 229, 255);
    margin: 10px auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    border-radius: 13px;
    height: 62px;
    max-height: 300px;
    overflow: auto;
}
.LabelCard {
    color: #004085;
    width: 100%;
    font-size: 20px;
}
.TrashButton {
    border: none;
    background-color: rgb(204, 229, 255);
    color: firebrick;
}
.CompletedCard {
    color: #004085;
    width: 100%;
    font-size: 20px;
    text-align: left;
    text-decoration: line-through;
}